body
{
    height: 100%;
    overflow: hidden;
}

#big-board 
{
    width: 720px;
    height: 720px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

#board-display {
    width: 640px;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    right: 0;
    top: 0;
}

#board-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
    width: 640px;
    height: 80px;
    position: relative;
    top: 0;
    right: 0;
}

#board-side
{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
    left: 0;
    top: 0;
    width: 80px;
    height: 640px;
}

.boardNumber
{
    text-align: center;
    font-size: large;
    font-weight: bold;
}

.square {
    height: 80px;
    width: 80px;
    position: relative;
}

.square svg {
    height: 70px;
    width: 70px;
    margin: 5px;
    position: relative;
    z-index: -1;
}

.numbersquare 
{
    height: 80px;
    width: 80px;
    position: relative;
}

path {
    position: relative;
    z-index: -2;
}

.piece {
    position: relative;
    z-index: 1;
}

.beige-background {
    background-color: burlywood;
}

.brown-background {
    background-color: brown;
}

.dark-red-background {
    background-color: #5f0505;
}

.blue-background {
    background-color: #0DA5CE;
}

.water-background {
    background-color: #CEF0F9;
}

.dark-orange-background {
    background-color: #7f3b08;
}

.light-gray-background {
    background-color: #e6e6e6;
}

.black {
    fill: black;
}

.white {
    fill: white;
}

#logbox
{
    position: absolute;
    padding: 0.5%;
    right: 0;
    bottom: 0;
    width: 25%;
    height: calc(25% - 6px);
    border: 3px solid black;
    overflow-x: none;
    overflow-y: auto;
}

#logs
{
    color: black;
}
