:root
{
    --square-side: 0;
}

body
{
    height: 100%;
    overflow: hidden;
}

#board-container
{
    width: calc(var(--square-side) * 9);
    height: calc(var(--square-side) * 9);
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

#board-display {
    width: calc(var(--square-side) * 8);
    height: calc(var(--square-side) * 8);
    display: flex;
    flex-wrap: wrap;
    position: relative;
    right: 0;
    float: right;
    top: 0;
}

#board-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
    width: calc(var(--square-side) * 9);
    height: var(--square-side);
    position: relative;
}

#board-left
{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
    left: 0;
    top: 0;
    float: left;
    width: var(--square-side);
    height: calc(var(--square-side) * 8);
}

.board-notation
{
    text-align: center;
    font-size: large;
    font-weight: bold;
}

.square {
    height: var(--square-side);
    width: var(--square-side);
    position: relative;
}

.square svg {
    height: calc(var(--square-side) - 10px);
    width: calc(var(--square-side) - 10px);
    margin: 5px;
    position: relative;
    z-index: -1;
}

.square-notation
{
    height: var(--square-side);
    width: var(--square-side);
    position: relative;
}

path {
    position: relative;
    z-index: -2;
}

.piece {
    position: relative;
    z-index: 1;
}

.beige-background {
    background-color: burlywood;
}

.brown-background {
    background-color: brown;
}

.dark-red-background {
    background-color: #5f0505;
}

.blue-background {
    background-color: #0DA5CE;
}

.water-background {
    background-color: #CEF0F9;
}

.dark-orange-background {
    background-color: #7f3b08;
}

.light-gray-background {
    background-color: #e6e6e6;
}

.black {
    fill: black;
}

.white {
    fill: white;
}

#log-box
{
    position: absolute;
    padding: 0.5%;
    right: 0;
    bottom: 0;
    width: 25%;
    height: 25%;
    border: 3px solid black;
    overflow-x: none;
    overflow-y: auto;
}

#rules-container {
    border: 3px solid black;
    overflow-x: none;
    overflow-y: auto;
    padding: 0.5%;
    position: absolute;
    height: 50%;
    width: 25%;
    top: 0;
    right: 0;
}

#logs
{
    color: black;
}
