<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Chess But Better</title>
    <link rel="stylesheet" href="../styles/styles.css" />
  </head>
  <body>
    <div id="boards-container">
      <select id="board-dropdown">
        <option value="board-container">normal</option>
        <option value="board-hell-container">hell</option>
        <option value="board-heaven-container">heaven</option>
      </select>
      <div id="board-container"></div>
      <div id="board-hell-container"></div>
      <div id="board-heaven-container"></div>
    </div>  
    <p id="info-display"></p>


    <div id="rules-container">
      <h2>Rules</h2>
    </div>

    <div id="logs-container"></div>

    <script type="module" src="../src/game.ts"></script>
  </body>
</html>
