<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Chess But Better</title>
    <link rel="stylesheet" href="../styles/styles.css" />
  </head>
  <body>
    <div id="boards-container">
      <div id="board-container"></div>
      <div id="board-hell-container" class="hidden"></div>
      <div id="board-heaven-container" class="hidden"></div>
    </div>
    <p id="info-display"></p>

    <button id="normalbtn" class="board-button" value="board-container">
      Normal
    </button>
    <button
      id="hellbtn"
      class="board-button hidden"
      value="board-hell-container"
    >
      Hell
    </button>
    <button
      id="heavenbtn"
      class="board-button hidden"
      value="board-heaven-container"
    >
      Heaven
    </button>

    <div id="rules-container">
      <h2>Rules</h2>
    </div>

    <div id="logs-container"></div>

    <script type="module" src="../src/game.ts"></script>
  </body>
</html>
