<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Chess But Better</title>
    <link rel="stylesheet" href="../styles/pages/room.css" />
  </head>
  <body>
    <div id="left-column">
      <table id="info-container">
        <tr>
          <td id="info-container-round-information" colspan="3"></td>
        </tr>
        <tr id="info-container-players"></tr>
      </table>
      <div class="purchasable-container">
        <p>Shop</p>
        <input type="checkbox" id="shop-upgrade-swapper" />
        <p>Tree</p>
      </div>
      <div
        id="piece-upgrades-container"
        class="collapsed center-horizontally"
      ></div>
      <div id="shop-container" class="center-horizontally"></div>
      <div id="inventory-container" class="center-horizontally"></div>
    </div>
    <div id="center-column">
      <div id="boards-container">
        <div class="bottom-notations-container" id="bottom-notations"></div>
        <div class="left-notations-container" id="left-notations"></div>
        <div class="board" id="board-overworld"></div>
        <div class="board collapsed" id="board-hell"></div>
        <div class="board collapsed" id="board-heaven"></div>
      </div>
      <div id="unicorn-attack" class="collapsed ability"></div>
    </div>
    <div id="right-column">
      <div id="logs-container"></div>
      <div id="boards-buttons-container">
        <button id="board-hell-button" class="disabled" value="board-hell">
          Hell
        </button>
        <button id="board-overworld-button" value="board-overworld">
          Overworld
        </button>
        <button id="board-heaven-button" class="disabled" value="board-heaven">
          Heaven
        </button>
      </div>
    </div>
  </body>
</html>
