#board-display {
    width: 640px;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.square {
    height: 80px;
    width: 80px;
    position: relative;
}

.square svg {
    height: 70px;
    width: 70px;
    margin: 5px;
    position: relative;
    z-index: -1;
}

path {
    position: relative;
    z-index: -2;
}

.piece {
    position: relative;
    z-index: 1;
}

.beige-background {
    background-color: burlywood;
}

.brown-background {
    background-color: brown;
}

.dark-red-background {
    background-color: #5f0505;
}

.blue-background {
    background-color: #0DA5CE;
}

.water-background {
    background-color: #CEF0F9;
}

.dark-orange-background {
    background-color: #7f3b08;
}

.light-gray-background {
    background-color: #e6e6e6;
}

.black {
    fill: black;
}

.white {
    fill: white;
}
