:root {
  --square-size: 5rem;
  --board-squares-per-side: 8;
  --piece-resource-padding: 0.75rem;
  --notation-padding: 1rem;
  --inventory-squares-per-side: 4;
  --shop-squares: 2;
}

body {
  overflow: hidden;
  margin: 0;
  font-family: system-ui, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
