#boards-container {
  height: calc(var(--square-size) * var(--board-squares-per-side));
  width: calc(var(--square-size) * var(--board-squares-per-side));
  overflow: visible;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
}

.board {
  height: calc(var(--square-size) * var(--board-squares-per-side));
  width: calc(var(--square-size) * var(--board-squares-per-side));
  display: flex;
  flex-wrap: wrap;
}

.bottom-notations-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.left-notations-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  z-index: 1;
}

.square {
  height: var(--square-size);
  width: var(--square-size);
  position: relative;
}

.square svg {
  height: calc(var(--square-size) - var(--piece-resource-padding));
  width: calc(var(--square-size) - var(--piece-resource-padding));
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
}

.notation {
  font-weight: bold;
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 1em;
}

.notation.number {
  height: calc(var(--square-size));
  margin-left: 4px;
}

.notation.letter {
  width: calc(var(--square-size) - 4px);
  margin-right: 4.3px;
  text-align: end;
}

.piece {
  z-index: 10;
}

.item .inventory-item {
  z-index: 9;
}

.piece,
.item,
.inventory-item,
.shop-item,
.untargetable-item {
  height: var(--square-size);
  width: var(--square-size);
  position: absolute;
}

.piece,
.inventory-item,
.shop-item {
  cursor: grab;
}

.piece:active,
.item:active,
.inventory-item {
  cursor: grabbing;
  z-index: 100;
}

#info-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5%;
}

.vertical-line {
  position: relative;
  border-left: 2px solid white;
}

.arrow {
  position: absolute;
  top: 50%;
  border: solid red;
  border-width: 0 10px 10px 10px;
  transform: translateX(-100%);
}

.players-information {
  padding-inline: 32px;
  position: relative;
}

#info-container-round-counter {
  text-align: center;
}

#logs-container {
  width: 93%;
  height: 70%;
  padding-inline: 2%;
  margin-top: 5%;
  border: 0.1rem solid white;
  overflow-y: auto;
}

#logs-container p {
  font-size: 1em;
}

#boards-buttons-container {
  width: 95%;
  height: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#boards-buttons-container button {
  width: 25%;
  padding: 10% 0;
  font-size: 0.85em;
  font-weight: bold;
  border: none;
  border-radius: 5%;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  word-break: break-all;
}

.player-inventory {
  width: 100%;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  box-sizing: border-box;
}

#inventory-container,
#shop-container,
#piece-upgrades-container {
  width: auto;
  position: absolute;
  left: 2.5%;
  overflow: visible;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

#inventory-container {
  bottom: 5%;
  flex-direction: row;
}

#shop-container,
#piece-upgrades-container {
  margin-top: 5%;
}

.inventory-square,
.shop-square,
.upgrade-square {
  height: var(--square-size);
  width: var(--square-size);
  margin: 0.5px;
  outline: 0.5px solid;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  position: relative;
}

.inventory-item,
.shop-item,
.upgraded-piece {
  width: 60%;
  display: grid;
  place-items: center;
}

.shop-item-price,
.piece-upgrade-item-price {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(5%, 70%);
}

.piece-upgrades-message {
  width: 100%;
  text-align: center;
}

#shop-upgrade-swapper {
  position: relative;
  width: 3rem;
  height: 1.5rem;
  appearance: none;
  border-radius: 2rem;
  cursor: pointer;
  border: 2px white solid;
}

#shop-upgrade-swapper::before {
  content: '';
  width: 30%;
  height: 70%;
  border-radius: 50%;
  top: 15%;
  left: 10%;
  position: absolute;
  transition: 0.3s;
}

#shop-upgrade-swapper:checked::before {
  transform: translateX(165%);
}
.purchasable-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

input#shop-upgrade-swapper {
  margin: 5%;
}

.purchasable-container p {
  font-size: 1em;
}

.ability {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5%;
}

button {
  border: none;
  outline: none;
  border-radius: 8px;
  padding: 1em;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
