:root {
  --square-size: 5vw;
  --board-squares-per-side: 8;
  --piece-resource-padding: 0.75vw;
  --notation-padding: 1vw;
  --inventory-squares-per-side: 4;
  --shop-squares: 2;
}

body {
  overflow: hidden;
  margin: 0;
  font-family: system-ui, sans-serif;
  display: flex;
  flex-direction: row;
}

#left-column {
  flex: 1;
  height: 100vh;
}

#center-column {
  flex: 2;
  height: 100vh;
}

#right-column {
  flex: 1;
  height: 100vh;
}

#boards-container {
  height: calc(var(--square-size) * var(--board-squares-per-side));
  width: calc(var(--square-size) * var(--board-squares-per-side));
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
}

.board {
  height: calc(var(--square-size) * var(--board-squares-per-side));
  width: calc(var(--square-size) * var(--board-squares-per-side));
  display: flex;
  flex-wrap: wrap;
}

.bottom-notations-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.left-notations-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  z-index: 1;
}

.disabled {
  cursor: not-allowed !important;
  pointer-events: none !important;
  background-color: lightgray !important;
}

.collapsed {
  display: none !important;
}

.square {
  height: var(--square-size);
  width: var(--square-size);
  position: relative;
}

.square svg {
  height: calc(var(--square-size) - var(--piece-resource-padding));
  width: calc(var(--square-size) - var(--piece-resource-padding));
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
}

.notation {
  font-weight: bold;
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 1em;
}

.notation.number {
  height: calc(var(--square-size));
  margin-left: 4px;
}

.notation.letter {
  width: calc(var(--square-size) - 4px);
  margin-right: 4.3px;
  text-align: end;
}

path {
  position: relative;
  z-index: -10;
}

.outline {
  stroke: black;
  stroke-width: 1em;
}

.piece {
  z-index: 10;
}

.item
.inventory-item {
  z-index: 9;
}

.piece, .item, .inventory-item {
  height: var(--square-size);
  width: var(--square-size);
  position: absolute;
  cursor: grab;
}

.piece:active, .item:active, .inventory-item {
  cursor: grabbing;
  z-index: 100;
}

#info-container {
  position: relative;
  margin: 2.5%;
}

#info-container p {
  font-size: 1em;
}

#logs-container {
  width: 100%;
  height: 70%;
  padding: 0.5%;
  border: 0.2vw solid black;
  overflow-y: auto;
}

#logs-container p {
  font-size: 1em;
}

#boards-buttons-container {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#boards-buttons-container button {
  width: 25%;
  padding: 10% 0;
  font-size: 0.85em;
  font-weight: bold;
  color: #ffffff;
  background-color: #5f0505;
  border: none;
  border-radius: 5%;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.1s ease;
}

.boards-buttons-container button:hover {
  background-color: #940000;
}

.boards-buttons-container button:active {
  background-color: burlywood;
}

#inventory-container {
  width: 100%;
  max-width: calc(var(--square-size) * var(--inventory-squares-per-side));
  overflow: visible;
  box-sizing: border-box;
  position: absolute;
  bottom: 5%;
  left: 5%;
}

.player-inventory {
  width: 100%;
  outline: 2px solid;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.inventory-square, .shop-square {
  outline: 1px solid;
  box-sizing: border-box;
  height: var(--square-size);
  width: var(--square-size);
  display: grid;
  place-items: center;
}

.inventory-item {
  display: grid;
  place-items: center;
}

#shop-container {
  width: calc(var(--square-size));
  height: calc(var(--square-size) * var(--shop-squares));
  overflow: visible;
  box-sizing: border-box;
  text-align: center;
  position: absolute;
  bottom: 40%;
  left: 10%;
}

@media screen and (max-width: 1200px) {
  .notation {
    font-size: 0.6em;
  }

  #info-container p {
    font-size: 0.8em;
  }

  #logs-container p {
    font-size: 0.8em;
  }

  #boards-buttons-container button {
    font-size: 0.6em;
  }
}

@media screen and (max-width: 768px) {
  .notation {
    font-size: 0.4em;
  }

  #info-container p {
    font-size: 0.6em;
  }

  #logs-container p {
    font-size: 0.6em;
  }

  #boards-buttons-container button {
    font-size: 0.4em;
  }
}

.beige-background {
  background-color: burlywood;
}

.brown-background {
  background-color: brown;
}

.dark-red-background {
  background-color: #5f0505;
}

.blue-background {
  background-color: #0da5ce;
}

.water-background {
  background-color: #cef0f9;
}

.dark-orange-background {
  background-color: #7f3b08;
}

.highlight-background::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(255, 222, 100, 0.5);
}

.highlight-legal-move::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
  height: 25%;
  border-radius: 50%;
  background-color: rgb(0, 0, 0, 0.25);
  z-index: 100;
  pointer-events: none;
}

.black {
  fill: #333333;
}

.white {
  fill: #f5f5f5;
}

.log-color-general {
  color: black;
}

.log-color-kill {
  color: red;
}

.log-color-rule {
  color: plum;
}

.log-color-movement {
  color: gray;
}
