:root {
  --square-size: 80px;
  --board-squares-per-side: 8;
  --piece-resource-padding: 12px;
  --notation-padding: 4px;
  --inventory-squares-per-side: 2;
}

body {
  overflow: hidden;
  margin: 0;
  height: 100vh;
  font-family: system-ui, sans-serif;
}

.boards-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding-left: 25%;
  padding-top: 2%;
}

.board {
  height: calc(var(--square-size) * var(--board-squares-per-side));
  width: calc(var(--square-size) * var(--board-squares-per-side));
  display: flex;
  flex-wrap: wrap;
}

.bottom-notations-container {
  margin-top: calc(
    var(--square-size) * var(--board-squares-per-side) - var(--square-size) / 3.5
  );
  display: flex;
  flex-direction: row;
  position: absolute;
  z-index: 1;
}

.left-notations-container {
  width: calc(var(--square-size) / 4);
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
}

.disabled {
  cursor: not-allowed !important;
  pointer-events: none !important;
  background-color: lightgray !important;
}

.square {
  height: var(--square-size);
  width: var(--square-size);
  position: relative;
}

.square svg {
  height: calc(var(--square-size) - var(--piece-resource-padding));
  width: calc(var(--square-size) - var(--piece-resource-padding));
  margin: calc(var(--piece-resource-padding) / 2);
  position: relative;
}

.notation {
  font-weight: bold;
  position: relative;
  font-size: medium;
  margin: 0;
  padding: 0;
}

.notation.number {
  height: calc(var(--square-size));
  margin-left: 4px;
}

.notation.letter {
  width: calc(var(--square-size) - 4px);
  margin-right: 4.3px;
  text-align: end;
}

#info-display {
  position: absolute;
  top: 0px;
  left: 24px;
}

path {
  position: relative;
  z-index: -2;
}

.piece, .item {
  height: var(--square-size);
  width: var(--square-size);
  position: relative;
  z-index: 1;
  cursor: grab;
}

.piece:active, .item:active {
  cursor: grabbing;
}


#logs-container {
  position: absolute;
  padding: 0.5%;
  right: 0;
  top: 0;
  width: 25%;
  height: 70%;
  border: 0.2vw solid black;
  overflow-x: none;
  overflow-y: auto;
}

.boards-buttons-container {
  position: absolute;
  padding: 1%;
  padding-bottom: 3%;
  right: 0;
  bottom: 0;
  width: 25%;
  display: flex;
  justify-content: center;
}

.boards-buttons-container button {
  width: 30%;
  padding: 42px 24px;
  margin-left: 12px;
  margin-right: 12px;
  font-size: 0.85em;
  font-weight: bold;
  color: #ffffff;
  background-color: #5f0505;
  border: none;
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.1s ease;
}

.boards-buttons-container button:hover {
  background-color: #940000;
}

.boards-buttons-container button:active {
  background-color: burlywood;
}

.inventory-container {
  height: calc(var(--square-size) * var(--inventory-squares-per-side));
  width: calc(var(--square-size) * var(--inventory-squares-per-side));
  overflow: visible;
  padding-left: 5%;
}

.player-inventory {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.inventory-square {
  outline: 2px solid;
  height: var(--square-size);
  width: var(--square-size);
}

.beige-background {
  background-color: burlywood;
}

.brown-background {
  background-color: brown;
}

.dark-red-background {
  background-color: #5f0505;
}

.blue-background {
  background-color: #0da5ce;
}

.water-background {
  background-color: #cef0f9;
}

.dark-orange-background {
  background-color: #7f3b08;
}

.light-gray-background {
  position: relative;
}

.light-gray-background::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(230, 230, 230, 0.5);
  z-index: 1; 
}

.black {
  fill: black;
}

.white {
  fill: white;
}

.log-color-general {
  color: black;
}

.log-color-kill {
  color: red;
}

.log-color-rule {
  color: plum;
}

.log-color-movement {
  color: gray;
}

.log-color-item {
  color: DarkGoldenRod;
}

.collapsed {
  display: none;
}
