#left-column {
  flex: 1;
  height: 100vh;
}

#center-column {
  flex: 2;
  height: 100vh;
}

#right-column {
  flex: 1;
  height: 100vh;
}

.center-horizontally {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center-vertically {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
