.container {
  display: flex;
  flex-flow: row nowrap;
  height: 90vh;
  align-items: stretch;
  gap: 2em;
}

#left-column {
  flex: 1;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1%;
}

#center-column {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#right-column {
  flex: 1;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1%;
  gap: 1rem;
}

.center-horizontally {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center-vertically {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
