:root {
  --primary-color: #302e2b;
  --accent-color: #88b65a;
  --accent-color-hover: #7b87a6;
  --bright-square: #c7ec8a;
  --dark-square: #88b65a;
  --bright-hell-square: #e66545;
  --dark-hell-square: #882615;
  --bright-heaven-square: #a1e3f5;
  --dark-heaven-square: #0da5ce;
  --notations-color: black;
  --text-color: white;
  --kill-color: #e66545;
  --rule-color: #81b64c;
  --move-color: #ebecd0;
}

body {
  background-color: var(--primary-color);
  color: var(--text-color);
}

#shop-upgrade-swapper {
  color: var(--accent-color);
}

#shop-upgrade-swapper::before {
  background: var(--accent-color);
}

#boards-buttons-container button {
  color: var(--text-color);
}

#board-hell-button {
  background-color: var(--dark-hell-square);
}

#board-hell-button:hover {
  background-color: var(--bright-hell-square);
}

#board-overworld-button {
  background-color: var(--dark-square);
}

#board-overworld-button:hover {
  background-color: var(--bright-square);
}

#board-heaven-button {
  background-color: var(--dark-heaven-square);
}

#board-heaven-button:hover {
  background-color: var(--bright-heaven-square);
}

.notation {
  color: var(--notations-color);
}

.outline {
  stroke: black;
  stroke-width: 1em;
}

.highlight-background::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(255, 222, 100, 0.5);
}

.highlight-legal-move::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
  height: 25%;
  border-radius: 50%;
  background-color: rgb(0, 0, 0, 0.25);
  z-index: 100;
  pointer-events: none;
}

.beige-background {
  background-color: var(--bright-square);
}

.brown-background {
  background-color: var(--dark-square);
}

.dark-red-background {
  background-color: var(--dark-hell-square);
}

.dark-orange-background {
  background-color: var(--bright-hell-square);
}

.blue-background {
  background-color: var(--dark-heaven-square);
}

.water-background {
  background-color: var(--bright-heaven-square);
}

.black {
  fill: #333333;
}

.white {
  fill: #f5f5f5;
}

.log-color-general {
  color: var(--text-color);
}

.log-color-kill {
  color: var(--kill-color);
}

.log-color-rule {
  color: var(--rule-color);
}

.log-color-movement {
  color: var(--move-color);
}
